<header id="header" class="dark-header">
            
      <div class="header-bar ">
         <div class="container-logo">
      <a class="logo" href="./">
        <img src="./images/logox1.jpg" srcset="./images/logox2.jpg 2x" alt="Logo" class="logo light-mode">
        <img src="./images/logoDarkx1.jpg" srcset="./images/logoDarkx2.jpg 2x" alt="LogoDark" class="logo dark-mode">
      </a>
      <a class="logo" href="./">
        <img  src="./images/Bookshelfx1.jpg" srcset="./images/Bookshelfx2.jpg 2x" alt="Bookshelf" class="logo light-mode">
        <img src="./images/BookshelfDarkx1.jpg" srcset="./images/BookshelfDarkx2.jpg 2x" alt="BookshelfDark" class="logo dark-mode">
      </a>
    </div>
        <div class="menu" >
            <button class="button-home" 
            type="button"
            aria-expanded="false"
            aria-controls="tablet-home">
               <a href="./"><p class="home-p" >Home</p></a> 
            </button>
           <button class="button-shopping-list"
            type="button"
            aria-expanded="false"
            aria-controls="tablet-shopping">
            <p class="shopping-p">shopping list</p>
            <svg  width="20px" height="20px">
                <use xlink:href="./icons/symbol-defs.svg#icon-uil_cart"></use>
            </svg>
           </button>

        </div>
        <div class="container-btn">
            
              <div class="switcher">
                  <input type="checkbox" id="darkModeToggle">
                  <label for="darkModeToggle" class="theme-toggler"></label>
              </div>  
                            
                    <button
                    class="btn-burger"
                    type="button"
                    aria-expanded="false"
                    aria-controls="mobile-menu">
                    <svg  class="burger-icon" width="28" height="28">
                        <use xlink:href="./icons/symbol-defs.svg#icon-align-left"></use>
                    </svg>
                    </button>
                    <button class="btn-close" type="button" aria-expanded="false" aria-controls="mobile-menu" style="display: none">
                        <svg class="close-icon" width="28" height="28">
                            <use xlink:href="./icons/symbol-defs.svg#icon-x-close"></use>
                        </svg>
                    </button>
                <div class="button-container">
                    <button class="sign-up"
                    type="button"
                    aria-expanded="false"
                    aria-controls="sign-up-button">
                      <p class="sign-up-p">Sign up</p>
                      <svg class="sign-up-icon" width="20px" height="20px">
                        <use xlink:href="./icons/symbol-defs.svg#icon-arrow-narrow-right"></use>
                      </svg>
                    </button>
                    </div>   
        </div>

      </div>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="burgerModal" class="burger-modal">
    <!-- Modal content -->
    <div class="burger-modal-content">
        <div class="in-modal-menu" >
            <button class="button-home" 
            type="button"
            aria-expanded="false"
            aria-controls="tablet-home">
               <a href="./"><p class="home-p" >Home</p></a> 
            </button>
           <button class="modal-button-shopping-list"
            type="button"
            aria-expanded="false"
            aria-controls="tablet-shopping">
            <p class="shopping-p">shopping list</p>
            <svg  width="20px" height="20px">
                <use xlink:href="./icons/symbol-defs.svg#icon-uil_cart"></use>
            </svg>
           </button>

        </div>
    </div>
</div>
  </div>
  