<header id="header">
  <div class="header-bar">
    <div class="container-logo">
      <a class="logo" href="./">
        <img src="./images/logox1.jpg" srcset="./images/logox2.jpg 2x" alt=""
      /></a>

      <a class="logo" href="./">
        <img src="./images/Bookshelfx1.jpg" src="./images/Bookshelfx2.jpg 2x" alt="" />
      </a>
    </div>
    <div class="container-btn">
      <div class="switcher">
        <input type="checkbox" id="check" />
        <label for="check" class="theme-toggler"></label>
      </div>

      <button class="btn-burger" type="button" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="burger-icon" width="28" height="28">
          <use xlink:href="./icons/symbol-defs.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
