<section class="hero">
  <div class="container container__home">
    <div class="hero__grid">
      <div class="category-container">
        <ul class="category-list"></ul>
      </div>
      <div class="supporters">
        <div class="supporters-title">
          <h3>Support Ukraine</h3>
        </div>
        <div class="supporters-container swiper">
          <div class="supporters-wrapper swiper-wrapper"></div>
        </div>
        <button class="supporters-button swiper-button-next">X</button>
      </div>
    </div>
    <div class="books-container"></div>
  </div>
</section>
