<!-- Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="bookImage" src="#" alt="Book cover" class="book-cover" />
    <div class="book-description">
    <h1 class="book-title" id="bookTitle"></h1>
    <p class="book-author" id="bookAuthor"></p>
    <p id="bookDescription"></p>
    <ul id="buyLinks">
      <li><a class="link-amazon" href=""></a></li>
      <li><a class="link-apple" href=""></a></li>
      <li><a class="link-book-shop" href=""></a></li>
    </div>
    <button class="toggle-shopping-list" id="toggleShoppingList">ADD TO SHOPPING LIST</button>
    </div>
  </div>
</div>
