<div class="blur"></div>
<div class="form-wrapper">

  <div class="form-container">
  <form class="sign-in-form">
    <div class="form-item">
      <label for="name">
              </label> 
            <input type="text" 
                   id="name"
                   name="name" 
                   placeholder="Name" required> 
    </div>
      <div class="form-item">
      <label for="email"></label>
      <input type="email" name="email" required placeholder="Email"></input>
    </div>
    <div class="form-item">
      <label for="password"></label>
      <input type="password" name="password" required placeholder="Password"></input>
    </div>
      <button class="sign-form-bttn" type="submit">
      SIGN-UP
      </button>
   

  </form>
  <div class="form-footer">
    <p><a href="#">SIGN-UP</a></p>
    <p><a href="#">SIGN-IN</a></p>
  </div>
  </div>
</div>
