html.dark-theme .logo-text svg path {
  fill: white;
}

html.dark-theme .button-shopping-list {
  color: #fff;
  fill: #fff;
}

html.dark-theme .burger-icon {
  stroke: #fff;
  fill: #fff;
}
html.dark-theme body {
  background-color: var(--main-bg-color-dark-theme);
}
