:root {
  --main-text-color-light-theme: #111;
  --main-text-color-dark-theme: #fff;
  --secondary-text-color: #b4afaf;
  --accent-color: #4f2ee8;
  --secondary-accent-color: #eac645;
  --main-bg-color: #f6f6f6;
  --main-bg-color-dark-theme: #202024;
  --timing-function: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color-light-theme);
}
body.dark-mode {
  background-color: var(--main-bg-color-dark-theme);
  color: var(--main-text-color-dark-theme);
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
