:root {
    --black: #111111;
    --black1: #202024;
    --violet: #4F2EE8;
    --yellow: #EAC645;
    --white: #FFFFFF;
    
}

/* Resetowanie domyślnych styli */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Resetowanie dla elementów blokowych */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
blockquote,
pre,
figure,
hr,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Resetowanie dla elementów zagnieżdżonych */
img,
iframe,
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

/* Resetowanie dla formularzy i ich elementów */
form,
fieldset,
legend,
button,
input,
textarea,
select,
optgroup,
option {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 0;
    background: transparent;
}

/* Resetowanie dla elementów semantycznych */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Resetowanie dla elementu HTML */
html {
    scroll-behavior: smooth;
}