.header-bar {
  display: inline-flex;
  height: 64px;
  padding: 18px 20px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  width: 100%;
}

.btn-burger {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.btn-close {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.close-icon {
  stroke: #111;
}

.burger-icon {
  stroke: #111;
  fill: #111;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}
.container-logo {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.switcher {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggler {
  width: 42px;
  height: 24px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.theme-toggler::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .theme-toggler {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .theme-toggler::before {
  transform: translateX(18px);
}

input {
  display: none;
  width: 42px;
  height: 24px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.theme-toggler::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .theme-toggler {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .theme-toggler::before {
  transform: translateX(18px);
}

.menu {
  display: none;
  align-items: center;
  gap: 16px;
}

.button-container {
  display: none;
}
.sign-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar {
    width: 100%;
    height: 72px;
    align-items: normal;
    gap: 0px;
  }
  .burger-icon {
    display: none;
  }

  .menu {
    display: none;
    align-items: center;
    gap: 16px;
  }
  .menu.is-authenticated {
    display: inline-flex;
  }

  .button-home {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
    background: transparent;
    width: 72px;
    height: 34px;
  }

  .dark-header[data-page-name='home'] .button-home {
    background: #eac645;
  }

  .menu li a {
    text-decoration: none;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .home-p {
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin: 0;
  }

  .button-shopping-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 101px;
  }

  .shopping-p {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin: 0px;
  }
  .log-out-wrapper {
    position: relative;
    padding: 20px;
  }

  .log-out-wrapper::before {
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    inset: -31px;
    top: -31px;
    left: -31px;
    top: -4px;
    left: 110px;
    height: 48px;
    width: 184px;
  }
  .log-out-wrapper:hover::before {
    opacity: 1;
  }
  .button-log-out {
    opacity: 0;
    cursor: pointer;
    background: #fff;
    border: 1.5px solid #111;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 184px;
    height: 48px;
    transition: transform 0.5s linear, opacity 0.5s linear;
    display: inline-flex;
    position: absolute;
    bottom: 0px;
    left: 110px;
    transform: translateY(10%);
  }
  .log-out-wrapper:hover .button-log-out {
    opacity: 1;
    bottom: 0;
  }
  .sign-up {
    width: 184px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #4f2ee8;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  .sign-up-p {
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
  .sign-up-icon {
    margin: 0;
  }

  .button-container {
    width: 184px;
    height: 48px;
    flex-shrink: 0;
    display: unset;
  }

  .container-logo {
    margin-right: 40px;
  }

  .close-icon {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .container-logo {
    margin-right: 76px;
  }
  .menu-log-out {
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: #fff;
    border: 1.5px solid #111;
    border-radius: 18px;
    width: 118px;
    height: 48px;
    position: absolute;
    bottom: 20px;
    display: none;
  }
  .log-out-wrapper::before {
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    inset: -31px;
    top: -31px;
    left: -31px;
    top: -4px;
    left: 1189px;
    height: 48px;
    width: 184px;
  }
  .log-out-wrapper:hover::before {
    opacity: 1;
  }
  .button-log-out {
    opacity: 0;
    cursor: pointer;
    background: #fff;
    border: 1.5px solid #111;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 184px;
    height: 48px;
    transition: transform 0.5s linear, opacity 0.5s linear;
    display: inline-flex;
    position: absolute;
    bottom: 0px;
    left: 787px;
    transform: translateY(10%);
  }
}

/*     BURGER MODAL   */

.burger-modal {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 64px;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: animatetop 0.4s;
  overflow: hidden;
  background-image: url('../images/group6.png'),
    radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.mobile-modal-menu {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  margin-top: 138px;
  display: none;
}
.mobile-modal-menu.is-authenticated {
  display: flex;
}
.button-home-menu {
  padding: 8px 16px;
  gap: 10px;
  border-radius: 36px;
  background: #eac645;
  width: 72px;
  height: 34px;
}

.home-p {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin: 0;
}

.menu-button-shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark-header[data-page-name='shopping-list'] .menu-button-shopping-list {
  background: #eac645;
}
.shopping-p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.menu-icon {
  stroke: #fff;
  fill: #fff;
}
.burger-modal .modal-container {
  margin: 20px;
  width: 100%;
  height: 100%;
}
.burger-modal-wrapper {
  width: 100%;
  height: 100%;
}
.modal-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
  height: 100vh;
}
.modal-sign-up {
  width: 184px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 197px;
}
.modal-sign-up.is-authenticated {
  display: none;
}

.modal-background-img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-top: 97px;
  margin-left: -20px;
  display: flex;
}
.modal-user.is-authenticated {
  display: inline-flex;
  align-items: center;
  gap: 9px;
}
.modal-user {
  display: none;
}
.avatar {
  display: none;
  height: 37px;
  width: 37px;
}
.avatar.is-authenticated {
  display: block;
}
.avatar-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}
.menu-log-out {
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;
  width: 118px;
  height: 48px;
  position: absolute;
  bottom: -446px;
  display: none;
}
.menu-log-out.is-authenticated {
  display: flex;
}
