.header-bar {
  display: inline-flex;
  height: 64px;
  padding: 18px 20px;
  align-items: flex-start;
  gap: 143.999px;
  flex-shrink: 0;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  width: 100%;
}

.btn-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}
.close-icon {
  stroke: #111;
  margin-right: 20px;
}

.burger-icon {
  stroke: #111;
  fill: #111;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-left: auto;
}
.container-logo {
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.switcher {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggler {
  width: 42px;
  height: 24px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.theme-toggler::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .theme-toggler {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .theme-toggler::before {
  transform: translateX(18px);
}

input {
  display: none;
  width: 42px;
  height: 24px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  background-image: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

.theme-toggler::before {
  position: absolute;
  content: '';
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 200px;
  margin: 3px;
  transition: 0.2s;
}
input:checked + .theme-toggler {
  background-image: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .theme-toggler::before {
  transform: translateX(18px);
}

.menu {
  display: none;
  align-items: center;
  gap: 16px;
}

.button-container {
  display: none;
}
.sign-up {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-bar {
    width: 100%;
    height: 72px;
    align-items: normal;
    gap: 0px;
  }

  .burger-icon {
    display: none;
  }

  .menu {
    display: none;
    align-items: center;
    gap: 16px;
  }
  .menu.is-authenticated {
    display: inline-flex;
  }

  .button-home {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
    background: #eac645;
    width: 72px;
    height: 34px;
  }
  .menu li a {
    text-decoration: none;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .home-p {
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin: 0;
  }

  .button-shopping-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 101px;
  }

  .shopping-p {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin: 0px;
  }

  .sign-up {
    width: 184px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #4f2ee8;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
  }

  .sign-up-p {
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
  }
  .sign-up-icon {
    margin: 0;
  }

  .button-container {
    width: 184px;
    height: 48px;
    flex-shrink: 0;
    display: unset;
  }

  .container-logo {
    margin-right: 40px;
  }

  .close-icon {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .container-logo {
    margin-right: 76px;
  }
}

/*     BURGER MODAL   */

.burger-modal-content {
  position: relative;
  background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  margin: auto;
  border: 1px solid #888;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: animatetop 0.4s;
  overflow: hidden;
}
.burger-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 64px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.in-modal-menu {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.button-home-modal {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 36px;
  background: #eac645;
  width: 72px;
  height: 34px;
  display: none;
}

.home-p {
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin: 0;
}

.modal-button-shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 101px;
  display: none;
}

.shopping-p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin: 0px;
}
.modal-button-container {
  display: block;
  width: 184px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 20px;
}
.modal-sign-up {
  width: 184px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.modal-sign-up-p {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.modal-background-img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  margin-top: 380px;
}
