.container__home {
  margin-top: 40px;
}
.category-list {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
  height: 228px;
  gap: 24px;
}
.category__home-item {
  letter-spacing: -0.02em;
  color: #1119;

  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  pointer-events: all;
  cursor: pointer;
}
.js-current-category {
  letter-spacing: -0.02em;
  text-align: left;
  color: #4f2ee8;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.books-colortitle {
  letter-spacing: -0.04em;
  text-align: left;
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.books-title {
  letter-spacing: -0.04em;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}
:-webkit-scrollbar-track {
  background-color: #0000;
}
