.shopping-list-pagination {
  margin-block: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
.shopping-list-page {
  display: flex;
  gap: 8px;
}
.shopping-list-page-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
}

.shopping-list-page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
}

.shopping-list-page-next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
}
.page-number-icon,
.page-number-more {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.first-page-btn,
.previous-page-btn,
[data-highlight='true'] {
  background-color: black;
  color: white;
}
.last-page-btn,
.next-page-btn {
  color: black;
  background-color: #eac645;
}
.supporters-shopping {
  margin-top: 40px;
  display: none;
}
.shopping-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.shopping-list-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-number-element[data-highlight='true'] {
  font-weight: 800;
}

.shopping-list {
  width: 193px;
  height: 38px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-block: 40px;
}
.shopping-list-shopping {
  color: #111111;
}
.shopping-list-list {
  color: #4f2ee8;
}
.shopping-list_item {
  height: 170px;
  padding: 30px 24px;
  border-radius: 16px;
  border: 2px solid #4f2ee866;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.sl__books__image {
  width: 100px;
  height: 142px;
}
.sl__books-title {
  max-width: 144px;
  margin-bottom: 4px;
}
.books__listname {
  margin-bottom: 14px;
}
.books__desc {
  margin-bottom: 48px;
}
.trash-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #4f2ee8;
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.sl__amazon {
  width: 32px;
  height: 11px;
  background: url(../images/amazon.png), lightgray 0.382px 0px / 97.61% 100% no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
  position: absolute;
  bottom: 15px;
  right: 40px;
  cursor: pointer;
}
.sl__apple-books {
  width: 16px;
  height: 16px;
  background: url(../images/apple-books.png), lightgray 0px -0.444px / 100% 105.556% no-repeat;
  background-size: cover;
  mix-blend-mode: luminosity;
  position: absolute;
  bottom: 15px;
  right: 16px;
  cursor: pointer;
}
.books__desc {
  width: 193px;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.shopping-list-block-empty {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #00000099;
}
.shopping-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-list-empty img {
  display: block;
  width: 322px;
}
.shopping-list-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .shopping-list_item {
    width: 704px;
    height: 213px;
    gap: 32px;
  }
  .shopping-list-section {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .sl__books__image {
    width: 116px;
    height: 165px;
  }
  .books__desc {
    text-wrap: wrap;
    width: 508px;
  }
  .sl__books-title {
    overflow: visible;
  }
  .books__listname {
    color: #b4afaf;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.36px;
  }
  .sl__books-info {
    position: relative;
  }

  .books__button-svg {
    stroke: white;
  }
  .sl__amazon {
    width: 48px;
    height: 15px;
    right: 70px;
    bottom: 30px;
  }
  .sl__apple-books {
    width: 28px;
    height: 27px;
    right: 24px;
    bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container__shopping {
    display: flex;
    justify-content: flex-start;
  }
  .shopping-list_item {
    width: 996px;
    height: 213px;
    gap: 32px;
  }
  .shopping-list-section {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .shopping-list-items {
    gap: 20px;
  }

  .shopping-list-item {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .shopping-list-empty {
    position: relative;
    gap: 20px;
  }
  .shopping-list-container {
    width: 996px;
  }
  .container__shopping {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .supporters-shopping {
    display: flex;
  }

  .shopping-list-section {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .shopping-list-items {
    gap: 20px;
  }

  .shopping-list-item {
    width: 50%;
  }
}
