.form-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  z-index: 10;
}
.signup-modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.form-container {
  position: relative;
  display: block;

  background-color: var(--main-bg-color);
  border-radius: 18px;
  border: 2px solid #111;
  padding: 40px 20px;
  animation: 1s show ease-in-out;
}
@keyframes show {
  0% {
    scale: 0;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.svg-close {
  stroke: #111;
  width: 100%;
  height: 100%;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 14px;
  z-index: 1050;
}
.form-item {
  height: auto;
  width: auto;
  border: 1px solid black;
  display: flex;

  align-items: center;
  border-radius: 40px;
  border: 2px solid var(--main-text-color-light-theme);
}
.form-item input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 140px 16px 24px;
  box-shadow: none;
  margin: 0;
}
.form-item input::placeholder {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.16px;
  color: var(--main-text-color-light-theme);
  text-transform: uppercase;
}
.submit-btn {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  color: var(--main-text-color-dark-theme);
  background: var(--main-bg-color-dark-theme);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-footer button {
  color: rgba(17, 17, 17, 0.5);
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.form-footer button:hover {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}
.sign-out-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-out-btn {
  width: 300px;
  height: auto;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  color: var(--main-text-color-dark-theme);
  background: var(--main-bg-color-dark-theme);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.form-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .signup-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .form-wrapper {
    width: 100vw;
    padding: 0 32px;
  }
  .form-container {
    width: 579px;
    margin: 127px auto;
    padding: 80px 40px 84px 40px;
  }
  .sign-up-form {
    gap: 28px;
    margin-bottom: 20px;
  }
  .sign-up-form input {
    font-size: 18px;
    padding: 20px 140px 20px 40px;
  }
  .sign-up-form input::placeholder {
    font-size: 18px;
  }
  .submit-btn {
    margin-top: 12px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form-footer button {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .form-wrapper {
    width: 100vw;
    max-width: 100%;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1440px) {
  .form-wrapper {
    width: 100vw;
  }
}
