.form-wrapper {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: relative;
  display: block;
  z-index: 10000;
  background-color: white;
}
.form-item {
  display: block;
  height: 50px;
  width: auto;
  border: 1px solid black;
}
.sign-in-form {
  display: block;
}
