@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import '../node_modules/modern-normalize/modern-normalize.css';
@import './css/globals.css';
@import './css/hero.css';
@import './css/modal-window.css';
@import './css/header.css';
@import './css/reset.css';
@import './css/sign-form.css';
@import './css/dark-theme.css';
